@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root {
    --primary-color: #3498db;
    --secondary-color: #00b5fd;
    --background-color: #04571d;
    --background-color-light: #223127;
    --text-color: #ffffff;
    --text-color-light: rgb(1, 131, 252);
    --font-family: 'Arial, sans-serif';
}

section {
    width: 100%;
    height: 100%;
}

#introducao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    padding-top: 70px;
    background-image: url('img/sl_031420_28950_08.jpg');
    background-color: var(--background-color-light); /* cor de fundo de fallback */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    image-rendering: 'crisp-edges'; /* ou 'crisp-edges' para imagens com linhas nítidas */
    -webkit-font-smoothing: antialiased; /* para suavizar em navegadores WebKit */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #111;
    padding: 20px 20px;
    z-index: 1000; 
}

.navbar {
    display: flex;
    justify-content: flex-start; 
    flex-direction: row-reverse;
  }

#abanavbar {
    display: none; /* Esconde o select por padrão */
}

  
  @media (max-width: 768px) {
    .navbar{
        display: none; /* Esconde a navbar em telas menores */
    }

    #abanavbar {
        display: block; /* Exibe o select em telas menores */
        width: 100px;
        height: 30px;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 10px rgb(163, 163, 163);
        background: rgb(84, 156, 123);
        color: white;
        transition: width 0.3s;
    }

    #abanavbar:focus {
        width: 100%;
      }

}

  
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
.nav-links li a:hover {
    color: var(--text-color); 
}

.introducao h1 {
    font-size: 50px;
    color: var(--text-color-light);
    font-family: var(--font-family);
    text-align: center;
    margin-top: auto;
}

#topico-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: var(--text-color-light);
    font-family: var(--font-family);
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteudo-seguranca {
    display: flex;
    justify-content: center;  /* Centraliza texto na horizontal */
    align-items: center;      /* Centraliza texto na vertical */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    font-size: 20px;
    padding: 20px;
    border-radius: 12px;
    height: 500px;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    transition: transform 0.3s ease;
}

.conteudo-seguranca p {
    color: var(--text-color-light);
}

.conteudo-seguranca:hover {
    transform: scale(1.01);
}

.conteudo-exemplos {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    font-size: 50px;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo-h1 {
    font-size: 50px;
    padding-top: 35px;
    color: var(--text-color);
    font-family: var(--font-family);
    text-align: center;
    margin-top: auto;
}

.titulo-sub {
    font-size: 30px;
    padding-top: 25px;
    color: var(--text-color);
    font-family: var(--font-family);
    text-align: center;
    margin-top: auto;
}

.conteudo-ameacas {
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.conteudo-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 20px;
    border-radius: 12px;
    max-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    transition: transform 0.3s ease;
}

.conteudo-box:hover {
    transform: scale(1.03);
}

.conteudo-box p {
    color: var(--text-color-light);
}

.conteudo-box-profissionais {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-content: center;
}

.profissoes-box {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 20px;
    width: 400px;
    height: 300px;
    margin: 20px;
    /* margin-bottom: 20px; */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    transition: transform 0.3s ease;
}

.profissoes-box h4 {
    font-size: 20px;
    color: var(--text-color-light);
    /* font-family: var(--font-family); */
    text-align: center;
    padding: 20px;
    margin: 20px;
    /* margin-top: 20px; */
}

.botao {
    display: inline-block;
    padding: 15px 20px;
    background: var(--primary-color);
    box-shadow: 0 0 10px var(--text-color);
    border-radius: 60px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.botao:hover {
    background: var(--secondary-color);
    color: black;
    box-shadow: 0 0 20px var(--text-color-light);
    border: 2px solid var(--text-color-light);
    transform: scale(1.05);
}

.icons-ameacas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10rem;
    width: 10rem;
    color: var(--text-color-light);
    font-family: var(--font-family);
    margin-top: 20px;
}

.informacoes {
    background: rgba(0, 0, 0, 0.5);
}

.informacoes h1 {
    font-size: 50px;
    padding: 30px 0px;
    color: var(--text-color);
    text-align: center;
    margin-top: 20px;
}

.conteudo {
    height: auto;
    width: 90%;
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
    font-family: var(--font-family);
    font-size: 18px;
    color: var(--text-color);
    background: var(--background-color-light);
    border-radius: 10px;
    margin-bottom: 20px;
}

#conclusao-box {
    padding: 30px 20px;
    margin-bottom: 30px;
}

.conteudo p, .areas-box p {
    background-color: transparent;
    padding: 20px;
    border-left: 5px solid #238636;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 7px rgba(0,0,0,0.8);
  }
  
  /* Listas */
  ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 15px;
  }
  
  ul li {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  /* Boxes */
  .areas-box, .conteudo {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0), rgba(01, 0, 0, 10)), /* camada escura transparente */
      url('img/fundo-background.jpg');                         
    background-color: #161b22;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(156, 156, 156, 0.4);
  }
  
  /* Conclusão destacada */
  .areas-box:last-of-type p,
  .conteudo:last-of-type p {
    font-weight: bold;
    border-left-color: #ff7b72;
    color: #f0f6fc;
  }

.ferramentas-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10rem;
    width: 10rem;
    color: var(--text-color-light);
    font-family: var(--font-family);
    margin-top: 20px;
}

.ferramentas-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10rem;
    width: 10rem;
    color: var(--text-color-light);
    font-family: var(--font-family);
    margin-top: 20px;
}

.ferramentas-praticas-box {
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ferramentas-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 20px;
    border-radius: 12px;
    max-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    transition: transform 0.3s ease;
}

.ferramentas-box:hover {
    transform: scale(1.03);
}

.areas-box {
    height: auto;
    width: 90%;
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
    font-family: var(--font-family);
    font-size: 18px;
    color: var(--text-color-light);
    background: #2b4d36;
    border-radius: 10px;
    margin-bottom: 30px;
}

.footer {
    background-color: #0a0a0a;
    color: #dcdcdc;
    padding: 25px 15px;
    font-size: 1.2rem;
    border-top: 1px solid #222;
  }
  
  .footer-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
    color: var(--text-color-light);
  }
  
  .social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 10px; 
  }

  .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    margin-left: 15px;
    font-size: 25px;
    text-decoration: none;
    border: 2px solid var(--text-color);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    transition: color 0.3s ease;
  }

  .social-icons a:hover {
    background: var(--text-color-light);
    color: #fff;
    transform: scale(1.06);
  }
  
  .social-icons a:hover {
    color: #00bfff;
  }
  
.social-icons a:hover {
    transform: scale(1.06);
}  

@media (max-width: 1200px) {
    .informacoes h1 {
        font-size: 40px;
    }
    .titulo {
        font-size: 35px;
    }

    .titulo-h1 {
        font-size: 35px;
    }

    .titulo-sub {
        font-size: 30px;
    }

     /* .conteudo-seguranca p {
        font-size: 18px;
    }
  
    .conteudo p {
        font-size: 18px;
    }
  
    .profissoes-box h4 {
        font-size: 20px;
    }
  
    .footer-content p {
        font-size: 16px;
    } */
} 

@media (max-width: 768px) {
    .titulo {
        font-size: 30px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }
  
    .social-icons {
        margin-top: 10px; 
    }
  
    .social-icons a {
        margin-left: 0;
        margin-right: 10px;
    }
    .footer-content p {
        font-size: 14px;
    }
  }

@media (max-width: 580px) {
    .conteudo-seguranca p {
        font-size: 16px;
    }
  }

  @media (max-width: 480px) {
    .conteudo-seguranca p {
        font-size: 14px;
    }
    .conteudo p {
        font-size: 14px;
    }
    .titulo {
        font-size: 22px;
        text-align: center;
    }
    .titulo-h1 {
        font-size: 25px;
        text-align: center;
    }
    .titulo-sub {
        font-size: 20px;
        text-align: center;
    }
    .footer-content p {
        font-size: 12px;
    }
  }

  @media (max-width: 320px) {
    .conteudo-seguranca p {
        font-size: 12px;
    }
  }